<%- include ("../partials/head") %>

<section class ="homepageCentral">
    <article class="TGRANDMORT">
        <div class="metLaCouleur">
            <div class="Vatuer">
                <div class="HOOOOOSTOP">
                <p class="gneugneutuer">Trouvez la mission qui vous correspond</p>
                <p class="gneugneutuerui">Découvrez des annonces claires, accessibles et adaptées à vos talents. Publiez, éditez ou supprimez vos offres en toute simplicité.</p>
                <div class="Btn_de_salopard"><button class="btnOffer">Découvrez les offres</button></div>
                
            </div>  
            </div>
        </div>
    </article>
    <article>
        <div class="LesMissions">

            <h2 class="les_misea_prix"> Les dernières annonces </h2>

            <div class="LesAnnonces">
                <% mission.forEach((mission) => {%>
                    <div class="card">
                        <a href="/mission/<%= mission.id %>"><%= mission.title %></a>
                            <%= 
                    </div>
                <% }) %>

            </div>
        </div>
    </article>