<%- include ("../partials/head") %>


<div class="formAdd">
    <h1>Form</h1>
    <form action="/missions/add" method="POST">
  <input name="title" type="text" placeholder="Titre" required />
  <textarea name="description" placeholder="Courte description" required></textarea>
  <textarea name="descriptiontwo" placeholder="Description longue" required></textarea>
  <input name="skills" type="text" placeholder="Compétences (séparées par des virgules)" required />
  <input name="type" type="text" placeholder="Type de contrat" required />
  <input name="start_date" type="date" required />
  <input name="salary" type="number" placeholder="Salaire" required />
  <input name="salary_unit" type="text" placeholder="Unité de salaire" required />
  <input name="password" type="password" placeholder="Mot de passe" required />
  <button type="submit">Ajouter la mission</button>
</form>
</div>